<md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>Comments</span>
    </h2>
  </md-toolbar>

  <md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="comment in comments">
        <div class="md-list-item-text">
          <h3 class="firstLetter">{{comment.name}}</h4>
          <p  class="firstLetter">{{comment.body}}</p>
          <span filter-dir>{{comment.email}}</span>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>